   body {
      background-color: #f8f9fc;
    }

    .domain-card {
      border: 1px solid #e2e8f0;
      background-color: white;
      padding: 20px;
      border-radius: 16px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.04);
      text-align: center;
      transition: 0.3s;
    }

    .domain-card:hover {
      transform: translateY(-3px);
      box-shadow: 0 6px 16px rgba(0, 0, 0, 0.08);
    }

    .faq-section .card {
      border: none;
      border-radius: 16px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.04);
      margin-bottom: 1rem;
    }

    .accordion-button {
      border-radius: 16px !important;
    }

    .custom-contact-box {
      background-color: #eef4ff;
      border-radius: 16px;
      padding: 30px;
      text-align: center;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.04);
    }

    .main-title {
      margin-top: 100px;
      margin-bottom: 40px;
    }

    .section-title {
      font-weight: 600;
      margin-bottom: 1rem;
    }
    .text-purple {
    color: #8b5cf6;
}
.custom-contact-box {
  border: 1px solid rgba(13, 110, 253, 0.3);
}

.accordion-button:not(.collapsed) {
  background-color: #fff !important;  
  color: #212529 !important;         
  box-shadow: none !important;      
}

.accordion-button:focus {
  border-color: transparent !important; 
  box-shadow: none !important;         
}
